apiVersion: apps/v1
kind: Deployment
metadata:
  name: supervisor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: supervisor
  template:
    metadata:
      labels:
        app: supervisor
    spec:
      containers:
        - name: supervisor
          image: supervisor:local
          imagePullPolicy: Never
          ports:
            - containerPort: 50051
---
apiVersion: v1
kind: Service
metadata:
  name: supervisor
spec:
  selector:
    app: supervisor
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP
